@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-white dark:bg-stone-900 text-black dark:text-white min-h-screen;
	
	@media (prefers-color-scheme: light) {
		color-scheme: light;
	}
	
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

@layer base {
    @property --color-a {
        syntax: '<color>';
        inherits: true;
        initial-value: transparent;
    }
    @property --color-b {
        syntax: '<color>';
        inherits: true;
        initial-value: transparent;
    }
    @property --color-c {
        syntax: '<color>';
        inherits: true;
        initial-value: transparent;
    }
}

@layer utilities {
    .underline-line-through {
        text-decoration: underline line-through;
    }

    .quote {
        @apply px-4 py-2 border-l-4 border-l-amber-500 italic font-serif;
    }

    .editor-heading-2 {
        @apply text-3xl font-sans font-light tracking-tight border-t py-2 mb-4 inline-block w-full border-t-stone-500;
    }

    .editor-heading-1 {
        @apply text-4xl md:text-5xl my-4 font-sans font-semibold tracking-tight leading-tight;
    }

    .placeholder {
        @apply text-gray-400 text-6xl my-4 font-sans font-semibold tracking-tighter;
    }

    .code {
        @apply bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100 p-1 rounded-sm font-code text-base;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
