@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-white dark:bg-stone-900 text-black dark:text-white min-h-screen;
	
	@media (prefers-color-scheme: light) {
		color-scheme: light;
	}
	
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

@layer utilities {
    .underline-line-through {
        text-decoration: underline line-through;
    }

    .quote {
        @apply px-4 py-2 border-l-4 border-l-amber-500 italic;
    }

    .editor-heading-2 {
        @apply text-4xl md:text-3xl font-sans font-semibold tracking-tighter;
    }

    .editor-heading-1 {
        @apply text-5xl md:text-7xl lg:text-8xl my-4 font-sans font-semibold tracking-tighter;
    }

    .placeholder {
        @apply text-gray-400 text-6xl my-4 font-sans font-semibold tracking-tighter;
    }

    .code {
        @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 p-1 rounded-sm font-code text-base;
    }
}
